.total-values {
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.5rem;
}

@media (max-width:768px) {
  .total-values {
    font-size: 1.1rem;
  }
}

.total-content>div:not(:last-of-type) {
  margin-bottom: .5rem;
}