@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed&display=swap');

:root {
  --mainBlack: #040505;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin Condensed', sans-serif;


}

.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}